.mealrec-area{
  background-color: #b0b0b0;
  /* background-image: url(../img/healthyfood.jpeg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100px;
  padding: 200px 0 180px;
  z-index: 1;
  margin-top: -20px;
}

.mealrec-text{
  width: 100%;
  height: max-content;
  padding: 3px;
  background-color: #f5f5f5;
  opacity: 0.7;
  text-align: center;
}

.mealrec-text h1{
  font-size: 50px;
}


.intro{
    margin-top: 20px;
    text-align: center;
}

.intro h1{
  font-size: 40px;
}

.intro a{
  font-size: 20px;
  font-style: italic;
}

.mealrec_content{
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.table_main{
  /* margin-top: 50px; */
  width: auto;
}

.table_main .table_main_left{
  float: left;
}

.table_main .table_main_right{
  float: right;
  margin-top: 20px;
  text-align: center;
  width: 70%;

}

.table_main .table_main_left .label{
  text-align: center;
  width: fit-content;
  background-color: rgb(14, 141, 219);
  border-radius: 10px;
  border-width: 0px;
  padding: 10px 13px;
  font-size: 20px;
  font-style: bold;
  color: #f5f5f5;
  z-index: 1;
}

.table_main .table_main_right .regenerate{
  cursor: pointer;
  margin-top: 8px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-width: 0px;
  background-color: transparent;
}

.table_left{
  float: left;
  /* padding-right: 10%; */
}

.table_right{
  margin-left: 10%;
  float:right;
}

.user_regenerate{
  text-align: center;
}

.table_main .table_main_right a{
  font-size: 20px;
  vertical-align:top;
}


.gap40{height: 40px;}
.gap20{height: 20px;}
.gap50{height: 50px;}


.table_container{
  /* z-index: -1; */
  width: fit-content;
  background-color:#fff;
  padding: 30px 20px 20px;
  margin: -20px;
}


.table_rec{
  
  border-width: 0px !important; 
  border-inline-width: 1px;
  /* border-collapse: collapse; */
  margin: 30px 20px 10px;
  text-align: center;
  align-content: center;
}


table td, table th{
  border-bottom: 1px;
  /* border: 1px solid #C0C0C0; */
  border-radius: 5px 2px;
  color: #21373d;
  height: 30px;
  width: 250px;
}

table thead th{
  background-color: #111;
  width: 100px;
}

.table_rec tbody tr td{
  text-align: center;
}


table td img{
  width: 100px;
  height: 100px;
  display:block;
  border-radius: 10px;
  margin: 10px auto;
  background-position: center center; 
  background-size: cover;
  box-shadow:rgba(0,0,0,0.2) 0 1px 5px 0px;
}



.contain_re{
  width: auto;
  margin-bottom: 60px;
}
.contain_re .re_left{
  float: left;
  margin: 0 0 50px 10%;
  
}

.contain_re .re_right{
  float: right;
  margin: 0 10% 50px 0;
}
.regenerate_btn_left{
  cursor: pointer;
  width: fit-content;
  height: 60px;
  font-size: large;
  color: #fff !important;
  background: #f61b55;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 13px 24px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 5px;
}

.regenerate_btn_left:hover{
  background: #fff; 
  opacity: 1;
  color: #333 !important;
  border-color: #f61b55;
}

.regenerate_btn_right{
  cursor: pointer;
  width: fit-content;
  height: 40px;
  font-size: 20px;
  margin-right: 40px;
  color: #fff !important;
  background: #f61b55;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 2px 24px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 5px;
}

.regenerate_btn_right:hover{
  background: #fff; 
  opacity: 1;
  color: #333 !important;
  border-color: #f61b55;
}

.outtable_main1{
  margin: 0 30px;
  /* margin-top: 50px; */
  width: 100%;
}

.outtable_main1 .outtable_main_left{
  float: left;
}

.outtable_main1 .outtable_main_left a{
  font-size: 35px;
  font-style: bold;
}

.outtable_main1 .outtable_main_right{
  float: right;
  text-align: center;
}

.outtable_main1 .outtable_main_right a{
  font-size: 20px;
}


.outtable_main1 .outtable_main_right .regenerate{
  font-size: 25px;
  cursor: pointer;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 30px;
  width: 20px;
  height: 20px;
  background-size: cover;
  border-width: 0px;
  background-color: transparent;
}

.outtable_main2{
  padding: 30px 10px;
  height: fit-content;
  margin: 0 30px;
  /* margin-top: 50px; */
  width: 100%;
  /* background-color: #d31e1e; */
}

.outtable_main2 .outtable_main_left{
  float: left;
}

.outtable_main2 .outtable_main_left a{
  font-size: 30px;
  font-style: bold;
}

.outtable_main2 .outtable_main_right{
  float: right;
  text-align: center;
}

.outtable_main2 .outtable_main_right a{
  font-size: 20px;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 150%;
  background-color: #c8c8c8;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.60;
  filter: alpha(opacity=78);
}

.pop_win {
  display: none;
  position: absolute;
  top: 20%;
  left: 23%;
  width: 55%;
  height: 75%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  z-index:9999;
  overflow: auto;
}

.close{
  width: 25px;
  height: 25px;
}

#name{
  text-align: center;
}

#name_display{
  text-transform: capitalize;
}

#contents{
  margin-top: 30px;
  height:fit-content;
}

#image_display{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

#img_display{
  margin-left: 20px;
  display:inline;
}

#image{
  width:20%;
  float:left;
  display:inline;
}

#prepare{
  width: 25%;
  float:left;
  display: inline;
  margin-top: 20px;
}

#pre{
  width:20px;
  height:20px;
  display: inline;
}

#prep_time_display{
  font-weight: bold;
  display: inline;
}

.des{
  display: inline;
}

#cook{
  margin-left: 10px;
  width:25%;
  float:left;
  display: inline;
  margin-top: 20px;
}

#coo{
  width:20px;
  height:20px;
  display: inline;
}

#cook_time_display{
  font-weight: bold;
  display: inline;
}

#calorie{
  display: inline;
  width: 20%;
  float:right;
  margin-top: 20px;
}

#calorie_display{
  font-size: larger;
  font-weight: bold;
  display: inline;
}

#ingredient{
  float: left;
  width:30%;
  margin-left: 20px;
}

#direction{
  float: right;
  width:60%;
}

#details_button{
  cursor: pointer;
  width: fit-content;
  height: 40px;
  font-size: 15px;
  color: #fff !important;
  background: #8ab9c9;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 2px 24px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border-radius: 5px;
}

#details_button:hover{
  background: #fff; 
  opacity: 1;
  color: #333 !important;
  border-color: #8ab9c9;
}