.workrec-area{
    background-color: #b0b0b0;
    /* background-image: url(../img/workrec.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    padding: 200px 0 180px;
    z-index: 1;
    margin-top: -20px;
  }
  
  .workrec-text{
    width: 100%;
    height: max-content;
    padding: 3px;
    background-color: #f5f5f5;
    opacity: 0.7;
    text-align: center;
  }
  
  .workrec-text h1{
    font-size: 50px;
  }
  
  .intro{
      margin-top: 20px;
      text-align: center;
  }
  
  .intro h1{
    font-size: 40px;
  }
  
  .intro a{
    font-size: 20px;
    font-style: italic;
  }
  
  .workrec_content{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    text-align: center;
  }
  
  .table_rec{
    border:0px; 
    border-style: none;
    width: fit-content;
    margin: 50px auto 10px;
    text-align: center;
    align-content: center;
  }

  .table_rec button{
    margin: 30px;
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0);
    border-width: 0;
    border: 0;
  }

  .table_rec th:hover button{
    width: 250px;
    height: 250px;
    margin: 0px !important;
  }
  
  table td, table th{
    border: 0px;
    color: #21373d;
    height: 30px;
    width: 300px;
  }
  
  table thead th{
    background-color: #C0C0C0;
    width: 100px;
    text-align: center;
  }

  table th img{
    width: 200px;
    height: 200px;
  }
  
  .user_regenerate{
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-align: center;
    align-content: center;
  }
  
  .regenerate_btn{
    width: fit-content;
    height: 60px;
    font-size: large;
    color: #fff !important;
    background: #f61b55;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 13px 24px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-radius: 5px;
  }
  
  .regenerate_btn:hover{
    background: #fff; 
    opacity: 1;
    color: #333 !important;
    border-color: #f61b55;
  }
  
  